@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:ital,wght@0,400;1,700&family=Roboto:ital,wght@0,500;1,400&family=Rubik+Wet+Paint&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui;
}

main{
    padding: 32px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}

p{
    line-height: 1.5;
}

ul{
    list-style: none;
}

body{
    overflow-x: hidden;
    max-width: 100vw;
}
.purple{
    color: rgba(100,21,255);
}
/* NAV BAR */

.landing{
    padding: 32px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    width: 100%;
    max-height: 44px;
}

.nav__bar{
    display: flex;
    justify-content: space-around;
}

.nav__link{
    text-decoration: none;
    padding: 0 24px;
    color: black;
}

.nav__sep{
    display: flex;
    margin-left: 24px;
}

.row{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.sign__link{
    background-color: rgba(100,21,255);
    padding: 12px 32px;
    color: white;
    border-radius: 24px;

}

.logo{
    width: 56px;
    padding: 8px 8px;
}

.header__logo{
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.container{
    padding: 96px 0;
    margin: 0 220px;
}

.uppercase{
    text-transform: uppercase;
}
/*

Main Section

*/

.heading{
    font-size: 48px;
}

.start__page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
}

.start__para{
    margin: 32px 0;
    font-size: 18px;
}

.start__img{
    width: 100%;
}

.start__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    text-align: left;
    width: 60%;
}

.start__btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 85%;
}
.text{
    width: 100%;
    padding: 24px 32px;
    border: 1px solid black;
    opacity: .6;
    border-radius: 99999px;
}
.btn{
    padding: 16px 36px;
    border-radius: 99999px;
    background-color: rgba(100,21,255);
    color:white;
    right:5px;
    border: none;
    font-weight: 700px;
    margin:8px;
}

.btn__abs{
    position: absolute;
}
.company{
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 32px;
    margin: 32px 0;
}

.company__para{
    padding: 8px 0px;
    margin: 8px 0px;
}

.customer__img{
    width: 80%;
    opacity: .7;
}

/* FEATURES */

.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature__header{
    font-size: 16px;
    margin-bottom: 16px;
}

.feature__header--main{
    font-size: 48px;
}

.feature__para{
    font-size: 18px;
    text-align: center;
    width: 60%;
    margin-top: 16px;
}

.feature__paras{
    line-height: 2;
}

.features__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 40px ;
}

.feature__infos{
    display: flex;
    margin: 0 16px;
    padding: 32px 8px;
    width: 30%;
    height: 100%;
}

.feature__info{
    margin:8px 0 0 16px

}

.feature__title{
   margin-bottom: 16px; 
}

.feature__img--container{
    display: flex;
    align-items: flex-start;
}

.feature__img{
    border: 1px solid rgba(0,0,0,.1);
    padding: 16px;
    border-radius: 9999px;
    
}

/* Quality Section*/

.row__quality{
    display: flex;
    padding: 96px 0;
}
.quality__img--wrapper{
    max-width: 50%;
}
.quality__img{
    width: 100%;
}
.quality__div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 64px;
}

.quality__header{
    font-size: 16px;
}

.quality__para{
    font-size: 18px;
}

/* Steps */
.number{
    font-size: 36px;
    min-width: 46px;
}
.numbers{
    display: flex;
    margin-top: 32px;
}
.step--wrapper{
    display: flex;
    flex-direction: column;
    max-width: 70%;
}
.step__info{
    margin-left: 32px;
}
.step__para{
    margin-top: 16px;
    font-size: 14px;
    line-height: 2;
}

h4{
    font-size: 20px;
}

.step__heading{
    font-size: 48px;
    margin-top: 16px;
    font-weight:700;
}

.step__div{
    margin: auto auto;
    padding-top: 32px;
}

.quality__img--wrapper{
    margin: auto auto;
}

/* value */

.row__value{
    display: flex;
}
.value{
    display: flex;
}

.values{
    margin-top: 32px;
    display: flex;
}

.value__para{
    margin-top: 16px;
}

.value__heading{
    margin-left:8px ;
    margin: auto 0;
}

.values__div{
    padding:32px 64px 32px 0;
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.value__img--wrapper{
    width: 50%;
}
.value__img{
    width: 100%;
    margin: auto auto;
}

.value--wrapper{
    display: flex;
    flex-direction: column;
}

.values__para{
  margin-top: 32px;  
}

.value__btn{
    margin-top: 32px
}

.sign--wrapper1{
    background-color: #9ae6b4;
    padding: 8px;
    border-radius: 99999px;
    margin-right: 8px;
    width: 36px;
    text-align: center;
}

.sign--wrapper2{
    background-color: #feb2b2;
    padding: 8px;
    border-radius: 99999px;
    margin-right: 8px;
    width: 36px;
    text-align: center;
}

/* Pricings*/

.row__price{
    display:flex;
    flex-direction: column;
    padding: 92px 0;
}

.pricing__heading{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.pricing__para{
    font-size: 18px;
    text-align: center;
    margin-top: 16px;
    width: 45%;
}

.pricings__container{
    display: flex;
    margin-top: 56px;
    justify-content: space-between;
    height: 100%;
}

.pricing__info{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.pricing__top{
    border: 1px solid rgb(0, 1, 0,.3) ;
    border-top: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px 0px;
}

.price__heading{
    font-size: 20px;
    font-weight: bold;
}
.price__cost{
    font-size: 48px;
    font-weight: bold;
    margin-top: 16px;
}

.price__monthly{
    color: #a0aec0;
    font-weight: bold;
    margin-top: 16px;
}

.pricing__highlight{
    height: 10px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pricing__middle{
    border: 1px solid rgb(0, 1, 0,.3);
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px 0px;
}

.price__feature {
    margin-top: 20px;
    color:#a0aec0;
}

.feature__middle{
    color:white;
    margin-top: 20px;
}

.pricing__bottom{
    border: 1px solid rgb(0, 1, 0,.3) ;
    text-align: center;
}

.price__button--personal{
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    width: 45%;
    height: 56px;
    margin: 32px;
    border:none;
    border-radius: 48px;
    color: white;
    font-weight: bold;
}

.price__button--enterprise{
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    width: 45%;
    height: 56px;
    margin: 32px;
    border:none;
    border-radius: 48px;
    color: white;
    font-weight: bold;
}

.price__button--middle{
    background-color: white;
    width: 45%;
    height: 56px;
    margin: 32px;
    border:none;
    border-radius: 48px;
    color: #6415FF;;
    font-weight: bold;

}

.price__company{
    font-size: 20px;
    color: black;
    font-weight: bold;
}



.price__company-middle{
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.middle{
    color: white;
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-radius: 10px;
}

.pricing__middle-middle{
    border: 1px solid rgb(0, 1, 0,.3);
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px 0px;
}

.pricing__highlight-middle{
    height: 10px;
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pricing__highlight-personal{
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 10px;
}

.middle__button{
    border-bottom: none;
    border-right: none;
    border-left: none;
}

/* Footer */

.footer__row{
    display: flex;
    flex-direction: column;
    background-color:#6415FF;
    padding: 80px;
    margin-top: 48px;
}

h7{
    font-size: 16px;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
}
.top{
    padding-top: 16px;
}
.link{
    display: flex;
    flex-direction: column;
}
.link{
    margin-top: 12px;
    font-size: 14px;
}

.links--wrapper{
    display: flex;
    justify-content: space-between;
}

.footer__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo{
    display: flex;
    align-items: center;
}

h8{
    color:white;
    font-weight: bold;
    margin-left: 8px;
    font-size: 24px;
}

.footer__img--wrapper{
    height: 32px;
}
.footer__img{
    height: 100%;
}


.social{
    display: flex;
}


.divider{
    margin: 48px 0;
    border: 2px solid rgba(1, 1, 1,.1);
    width: 100%;
}

.social__figures{
    background-color: white;
    padding: 8px;
    width: 36px;
    text-align: center;
    border-radius: 99999px;
}

.right{
    margin-right: 16px;
}

.copyright{
    color: #CBD5E0;
    text-align: center;
}

@media (max-width: 768px) {
.header__logo{
    font-size: 20px;
}
.logo{
    
}
.nav__link{
    padding: 0;
    padding-right: 8px;
}

.sign__link{
    padding: 6px 16px;
}
.nav__sep{
    margin-left: 16px;
}
main{
    padding: 16px;
}

.heading,
.feature__header--main{
    font-size: 32px;
}
.start__para{
    font-size: 16px;
    text-align: center;
}
.start__info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start__page{
    flex-direction: column;
}
.start__img--wrapper{
    width: 100%;
}
.company{
    padding-top: 0;
}
.company__para,
.company__img,
.feature__header--main{
    text-align: center;
}
.feature__para{
    width: 100%;
}
.feature__infos{
    width: 50%;
    margin: 0;
}

.container{
    margin: 0;
}

.quality__header,
.heading,
.quality__para{
    margin-bottom: 16px;
    text-align: center;
}
.row__quality{
    flex-direction: column;
}
.quality__div{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.quality__img--wrapper{
    max-width: 100%;
    margin-top: 32px;
}
.value__img--wrapper{
    margin:auto auto;
}
.step__heading{
    font-size: 30px;
}
.value__heading{
   font-size: 16px;
   margin-right: 16px;
}
.value__para{
    text-align: center;
    font-size: 14px;
}
.value{
    align-items: center;
    justify-content: center;
}
.value--wrapper{
    width: 50%;
}
}
